:root {
  --accent-color: #2196F3;
}

:root {
  --headline-text-color: #212121;
}

:root {
  --text-color: #757575;
}

:root {
  --secondary-color: #FFF;
}

:root {
  --section-color:#E5E5E5;
}

:root {
  --background-color: #F5F4FA;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "roboto", sans-serif;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--headline-text-color-text-color);
  text-decoration: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px), (min-width: 1200px) {
  .logo {
    line-height: 1.08;
  }
}

.logo-accent {
  color: var(--accent-color);
}

.open-menu-btn, .mob-menu__close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.open-menu-btn:hover, .open-menu-btn:focus, .mob-menu__close-btn:hover, .mob-menu__close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .open-menu-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .open-menu-btn {
    display: none;
  }
}

.mob-menu__close-btn {
  margin-top: 6px;
  margin-bottom: 8px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  font-weight: 500;
  letter-spacing: 0.02em;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
.mob-menu .mob-menu__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 15px;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu__item {
  font-size: 32px;
  line-height: 1.18;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  color: #212121;
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__contacts-link-mob {
  font-size: 28px;
  line-height: 1.18;
  color: var(--accent-color);
}

.mob-menu__contacts-link-email {
  font-size: 20px;
  line-height: 1.17px;
  color: #757575;
}

.mob-menu__soc-list {
  display: flex;
  gap: 10px;
  margin-top: 64px;
}

.mob-menu__soc-item {
  width: fit-content;
  position: relative;
  padding-right: 10px;
}

.mob-menu__soc-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu__soc-link {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.22;
  color: var(--accent-color);
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.headline {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-text-color);
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .headline {
    font-size: 36px;
    padding-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 290px;
  padding: 30px 19px 30px 21px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    padding: 40px 39px 40px 41px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  background: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .close-button {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .close-button {
    width: 30px;
    height: 30px;
  }
}

.close-button-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button-svg {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-label {
  display: block;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field > .comment {
  margin-bottom: 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 44px;
  padding-right: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 1200px) {
  .modal-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
}

.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-label-checkbox {
  margin: 0 auto;
  font-size: 7px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal-label-checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-checkbox-link {
  color: var(--accent-color);
}

.modal-button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 150px;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal-button {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-button {
    width: 200px;
  }
}

.modal-wrap {
  position: relative;
}

.modal-label-checkbox {
  display: flex;
  align-items: center;
}

.modal-label-checkbox span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 1px solid var(--headline-text-color);
}

.checked-icon {
  fill: transparent;
}

.modal-checkbox:checked + .modal-label-checkbox span {
  background-color: var(--accent-color);
  border: none;
  border-radius: 2px;
}

.modal-checkbox:checked + .modal-label-checkbox .checked-icon {
  fill: var(--secondary-color);
}

.visually-hidden {
  display: none;
}

.header {
  border: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: none;
  margin-left: 93px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-list {
    display: flex;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    gap: 50px;
  }
}

.header-contacts-list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts-list {
    display: flex;
    gap: 30px;
  }
}

.header-link,
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headline-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:hover, .header-link:focus, .header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.header-link.current {
  color: var(--accent-color);
}

.header-item {
  position: relative;
}
.header-item .current:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  /* left: 700px;
  top: 76px; */
  background: var(--accent-color);
  border-radius: 2px;
}

.header-contacts-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover .header-contacts-icon, .header-contacts-link:hover .header-contacts-icon, .header-link:focus .header-contacts-icon, .header-contacts-link:focus .header-contacts-icon {
  fill: var(--accent-color);
}
.header-contacts-icon:hover, .header-contacts-icon:focus {
  fill: var(--accent-color);
}

.main-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-image-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2F303A;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-image-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/background-main.jpg);
  }
}

.main-headerline {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-headerline {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .main-headerline {
    font-size: 44px;
    line-height: 1.36;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.btn-main {
  margin-top: 30px;
  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;
}

.concepts {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .concepts {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.concepts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.concepts-item {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .concepts-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .concepts-item {
    width: calc((100% - 90px) / 4);
  }
}

.concepts-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headline-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.concepts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.concepts-thumb {
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.concepts-icon:nth-child(1) {
  width: 65px;
  height: 70px;
}

.concepts-icon:nth-child(2) {
  width: 67px;
  height: 70px;
}

.concepts-icon:nth-child(3) {
  width: 70px;
  height: 54px;
}

.concepts-icon:nth-child(4) {
  width: 55px;
  height: 60px;
}

.section-work {
  padding-bottom: 94px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .section-work {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.work-list {
  display: flex;
  margin-top: 50px;
}

.work-img, .team-img {
  display: block;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item-top-wrapper {
  position: relative;
}

.work-item-top-text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding-top: 27px;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__member {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team__member p + p {
  margin-top: 10px;
}

.team {
  width: 100%;
  background: var(--background-color);
}

.team__img {
  width: 100%;
  height: 460px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__img {
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    height: 260px;
  }
}

.team__item {
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__person, .team__jobtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-text-color);
}

.team__jobtitle {
  color: var(--text-color);
  font-weight: 400;
}

.social-networks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
}

.social-networks__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover .social-networks__icon, .social-networks__link:focus .social-networks__icon {
  fill: var(--secondary-color);
}
.social-networks__icon:nth-child(1) {
  width: 20px;
  height: 20px;
}
.social-networks__icon:nth-child(2) {
  width: 20px;
  height: 16px;
}
.social-networks__icon:nth-child(3) {
  width: 10px;
  height: 20px;
}
.social-networks__icon:nth-child(4) {
  width: 16px;
  height: 14px;
}

.companies-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .companies-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.companies-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .companies-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .companies-item {
    width: calc((100% - 150px) / 6);
  }
}

.companies-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.companies-link:hover, .companies-link:focus {
  border-color: var(--accent-color);
}

.companies-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.companies-link:hover .companies-icon, .companies-link:focus .companies-icon {
  fill: var(--accent-color);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__btn-list,
.portfolio__services-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__btn-list {
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__btn-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.portfolio__btn-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-text-color);
  background: var(--background-color);
  cursor: pointer;
  border: transparent;
  padding: 6px 22px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn-menu:hover, .portfolio__btn-menu:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__btn-menu.current {
  color: var(--secondary-color);
  background: var(--accent-color);
}

.portfolio__services-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headline-text-color);
}

.portfolio__services-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio__services-list,
.section-work {
  color: var(--section-color);
}

.portfolio__services-list {
  gap: 30px;
}

.portfolio__services-descr {
  padding: 20px 24px;
}

.portfolio__services-item {
  background: var(--secondary-color);
  width: 100%;
  border: 1px solid #EEEEEE;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__services-item:hover {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__services-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__services-item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__services-img {
  width: 100%;
  height: 404px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__services-img {
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__services-img {
    height: 294px;
  }
}

.portfolio__services-top-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__services-top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__services-item:hover .portfolio__services-top-text {
  transform: translateY(0%);
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #2F303A;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-block {
    padding-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-block {
    text-align: left;
  }
}

.footer-address-list > li {
  margin-top: 20px;
}

.footer-address-list li + li {
  margin-top: 9px;
}

.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-link.transparent {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--secondary-color);
}

.social-network-footer-text,
.subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.social-networks-footer-list {
  display: flex;
  gap: 10px;
}

.social-networks-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-footer-link:hover, .social-networks-footer-link:focus {
  background-color: var(--accent-color);
}

.social-networks-footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

.subscription-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.subscription-email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: var(--secondary-color);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  border: transparent;
  cursor: pointer;
}

.subscription-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */