.open-menu-btn, .mob-menu__close-btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.open-menu-btn {
    @media screen and (min-width: 768px) and (max-width: 1199px), (min-width: 1200px) {
        display: none;
    }
}

.mob-menu__close-btn {
    margin-top: 6px;
    margin-bottom: 8px;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    font-weight: 500;
    letter-spacing: 0.02em;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 15px;
        justify-content: space-between;
        overflow: auto;
    }
}

.mob-menu__item {
    font-size: 32px;
    line-height: 1.18;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu__link {
    color: #212121;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mob-menu__contacts-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__contacts-link-mob  {
    font-size: 28px;
    line-height: 1.18;
    color: var(--accent-color);
}

.mob-menu__contacts-link-email {
    font-size: 20px;
    line-height: 1.17px;
    color: #757575;
}

.mob-menu__soc-list {
    display: flex;
    gap: 10px;
    margin-top: 64px;
}

.mob-menu__soc-item {
    width: fit-content;
    position: relative;
    padding-right: 10px;
}

.mob-menu__soc-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: rgba(33, 33, 33, 0.2);
}

.mob-menu__soc-link {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.22;
    color: var(--accent-color);
}