:root {
    --accent-color: #2196F3;
}

:root {
    --headline-text-color: #212121;
}

:root {
    --text-color: #757575;
}

:root {
    --secondary-color: #FFF;
}

:root {
    --section-color:#E5E5E5;
}

:root {
    --background-color: #F5F4FA;
}